body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: #666;
}

.w400 {
  font-weight: 400;
  font-size: 2em;
  color: rgb(255, 94, 0);
  letter-spacing: -2px;
}

.impo1 {
  font-weight: 400;
  font-size: 1.3em;
  color: rgb(255, 94, 200);
  letter-spacing: -2px;
}
