@charset "utf-8";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

ul {
  width: 900px;
  margin: 0 auto;
}

ul,
li {
  line-height: 1.5em;
}

.mt30 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
  list-style: none;
  font-weight: 500;
}

.gbox {
  border: 5px solid #ccc;
  padding: 20px;
  margin-left: -80px;
  margin-bottom: 15px;
  width: 800px;
}
