@charset "utf-8";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #333;
}
a:hover {
  color: coral;
}
a:active.a:focus {
  color: cyan;
}

ul {
  width: 900px;
  margin: 0 auto;
}

ul,
li {
  line-height: 1em;
}

li {
  line-height: 2em;
}

.mt30 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
  list-style: none;
  font-weight: 500;
}

.gbox {
  border: 5px solid #ccc;
  padding: 1rem;
  margin-left: -80px;
  margin-bottom: 15px;
  width: 800px;
  line-height: 2rem;
}
