@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "맑은 고딕", MalgunGothic, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #666;
}
ul,
li {
  list-style: none;
}

.item {
  width: 400px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
button {
  padding: 0.8em;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border: 1px solid #ccc;
}

.open {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.detail {
  display: none;
  line-height: 2em;
}

.detail h2 {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.detail p {
  margin-bottom: 1em;
}
